*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 75px;
}
.container{
    max-width: 1200px;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
  
  .progress-container {
    background-color: rgba(150, 150, 150, 0.6);
    height: 10px;
    width: 100%;
  }
  
  .progress-bar {
    background-color: #BE0711;
    height: 10px;
    width: 0%;
  }
  

.nav-items{
    list-style: none;
    margin-top: 2px;
    justify-content: space-around;
}
.nav-items a{
    text-decoration: none;
    color: black;
}
.nav-items a:hover{
    color: red;
}
.navbar-item{
    padding-top: 15px;
}
.show-menu{
    display: block;
    z-index: -1;
}
.hide-menu{
    display: none;
}
.aboutus-menu-items{
    display: none;
}
.aboutus-menu-items ul{
 padding-top: 20px;
}
.aboutus-menu-items ul li{
    padding: 20px 0;
}
.solution-menu-items ul{
    padding-left: 0;
    padding-top: 20px;    
}
.solution-menu-items ul li{
    padding: 20px 0;
}
.product-menu-items ul{
    padding-left: 0;
    padding-top: 20px;  
}
.product-menu-items ul li{
    padding: 20px 0;
}
.services-menu-items ul{
    padding-left: 0;
    padding-top: 20px;  
}
.services-menu-items ul li{
    padding: 20px 0;
}
.industries-menu-items ul{
    padding-left: 0;
    padding-top: 20px;  
}
.industries-menu-items ul li{
    padding: 20px 0;
}
.resources-menu-items ul{
    padding-left: 0;
    padding-top: 20px;  
}
.resources-menu-items ul li{
    padding: 20px 0;
}
.aboutus-nav-items{
    display: none;
    position: absolute;
    padding-top: 30px;
    background-color: white;
    z-index: 1;
}
.aboutus-nav-items ul{
    padding: 17px;
}
.aboutus-nav-items li{
    padding-top: 20px;
}
.nav-aboutus:hover .aboutus-nav-items{
    display: block;
}
/*------------*/
.product-nav-items{
    display: none;
    position: absolute;
    padding-top: 30px;
    background-color: white;
    z-index: 1;
}
.product-nav-items ul{
    list-style: none;
    text-decoration: none;
    padding-left: 0;;
}
.product-nav-items li{
    padding-top: 20px;
}
.product-nav-items ul li a{
    font-size: 14px;
}
.product-nav-items h5{
    font-weight: bold;
}
.nav-product:hover .product-nav-items{
    display: block;
}
.services-nav-items{
    display: none;
    position: absolute;
    padding-top: 30px;
    background-color: white;
    z-index: 1;
}
.services-nav-items ul{
    padding: 17px;
}
.services-nav-items li{
    padding-top: 20px;
}
.nav-services:hover .services-nav-items{
    display: block;
}
/**/
.industries-nav-items{
    display: none;
    position: absolute;
    padding-top: 30px;
    background-color: white;
    z-index: 1;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
}
.industries-nav-items ul{
    list-style: none;
    text-decoration: none;
    padding-left: 0;;
}
.industries-nav-items li{
    padding-top: 20px;
}
.industries-nav-items ul li a{
    font-size: 14px;
}
.nav-industries:hover .industries-nav-items{
    display: block;
}
.slide-images{
    height: 80vh;
}
.carousel-caption{
    top:30% !important;
    left: 15% !important;
    text-align: left;
}
.row-two-grids{
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0 0 5px rgb(50 50 50 / 10%);
    transition: all .2s ease-in-out;
}
 .span-transition{
    display: none;
    color: red;
}
/*.row-two-grids:hover +.span-transition{
    display: block;
} */
.row-four-bg{
    background-image: url('row-four-bg.png');
}
.row-child-one-bg{
    background-image: url('bg_gallop_home.png');
    background-size: cover;
}
.row-child-two-bg{
    background-image: url('bg_ad_desktop.png');
    background-size: cover;

}
.gallop-image{
    max-width: 65%;
    padding: 10px 0px;
}
.gallop-contact-btn{
    background-color: #e1e1e1;
    padding: 3px 20px;
    border-radius: 20px;
   max-width: 35%

}
.row-five{
    background-color: #eeeeee;
}
.row-six{
    background-image: url("half_logo.png");
    background-size: cover;
}
.six-row-bg1{
    background-image: url('row-six-bgcard.png');
    background-size: cover;
    position: relative;
    height: 80vh;
    width : 90%;
}
.six-row-bg2{
    background-image: url('row-six-bgcard2.png');
    background-size: cover;
    position: relative;
    height: 80vh;
    width : 90%
}
.six-row-bg3{
    background-image: url('row-six-bgcard3.png');
    background-size: cover;
    position: relative;
    height: 80vh;
    width : 90%;
}
.six-row-bg4{
    background-image: url('row-six-bgcard4.png');
    background-size: cover;
    position: relative;
    height: 80vh;
    width : 90%
}
.row-slide-details{
    animation-name: toLeft;
    animation-duration: 2s;
    position: absolute;
    height: 80vh;
    width : 81.5%
}
/* .six-row-bg1:hover {
    @keyframes toLeft {
        0%  {left:200px; top:0px;}
        25% { left:0px; top:0px;}
  }
} */

.row-seven{
    background-image: url('bg_card_seveen.png');
    background-size: cover;
    position: relative;
    border-radius: 10%;
    background-repeat: no-repeat;
    box-shadow: 0px 14px 80px rgb(34 35 58 / 20%);
}
.row-inner-img{
    position: absolute;
    z-index: 1;
    top: 15%;
}
.contactus-section{
    background-image: url('burbles.png');
    background-size: cover;
    min-height: 35vw;
}
.contact-para{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
.one{
    text-align: center;
}
.tenth-row-contact{    
    text-decoration: none;
    border: 1px solid #dcdcdc57;
    color: black;
    text-align: center;
}
.footer-content{
    background-color: #999999;
}
.footer-nav-item{
    padding-top: 12px;
}
.footer-main-heading{
    font-weight: bolder;
}
.footer-sub-heading{
    font-weight: bold;
}
.footer-inner-links{
    list-style: none;
    padding-left: 0;
}
.footer-inner-links a{
    text-decoration: none;
    color: #e1e1e1;
}
.footer-inner-links a:hover{
    color: #ff0000;
}
.follow-us-row{
    background-color: black;
}
.follow-us-TC a{
    color: white;
    font-size: 10px;
    text-decoration: none;
}
.follow-us-TC a:hover{
    color: #ff0000;
}
.footer-social-icons img{
    height:40px;
    padding-right: 5px;
}
.copy-rights{
    background-color: #999999;
    color: #e1e1e1;
    text-align: center;
    font-size: 12px;
}
.contact-fixed-button{
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 1;
}
.contact-fixed-button a img{
    width: 60px;
    height: 60px;
}
.sm-menu-icon{
    font-size: 20px;
}
.contact-btn{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}
.contact-btn a{
    color: black;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #80808040;
    border-radius: 5px;
}

/* team-company */
.VMC-bg{
    background-image: url('VMC_bg.png');
    background-repeat: no-repeat;
}
.overview-para{
    font-size: 0.9rem;
    font-weight: 300;
}

.border-heading{
    font-weight: 700;
    border-bottom: 3px solid black;
}
.card_bg{
    background-image: url('half_logo.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center left;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgb(220 220 220);
    max-width: 250px;
}

.linkedin-s-icon{
    color: white;
    background-color: #dc3545;
    padding: 5px;
    border-radius: 10px;
}
/*partners page*/
.partners_bg{
    background-image: url('partners_bg.png');
    background-repeat: no-repeat;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.partners-gray-bg{
    background-color: #eeeeee;
}
.location-cards{
    background-color: white;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);

}
/* careers page */
.careers-bg{
    background-image: url('careers_bg.png');
}
/*galoop-dclm page*/
.gallop-banner{
    background-image: url('gallop_banner.png');
    background-repeat: no-repeat;
}
.btn-watch-video{
    text-decoration: none;
    background-color: #d3d3d3;
    color: black;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%)
}
.solution-sap img{
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sap-icon{
    display: flex;
    justify-content: center;
}
.bg-graphic{
    background-image: url('bg_graphic.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.circle-image{
    max-width: 100%;
    height: auto;
}

/* .over-image{
    position: absolute;
    z-index: 1;
}
.under-image{
    
} */
/* lifecycle page*/
.gallop-project-banner{
    background-image: url('lifecycle-banner.png');
    background-repeat: no-repeat;
}
.bg-half-logo{
    background-image: url('bg_half-logo.png');
    background-repeat: no-repeat;
}
/*sap page*/
.sap_bg{
    background-image: url('bg_sap.png');
    background-repeat: no-repeat;
}
.dashed-text{
  border-bottom: 2px dashed black;  
  
}
.industires-images{
   width: 25%;
}
.network-sap{
    display: flex;
    justify-content: center;
}
.supplier-sap{
    display: flex;
    justify-content: end; 
}
.sap-images{
    position: relative;
    
}
.sap-images img:first-child {
    margin-top: 0%;
    margin-left: 50px;
}
.sap-images img:nth-child(2) {
    margin-top: 130px;
    margin-left: 10;
}
.sap-images img:last-child {
    margin-top: 278px;
}
.sap-arrow img{
    transform: rotateX(180deg);
}
.sap-arrow-image img{
    width: 20%;
}
.statergic_bg{
    background-image: url('bg_statergic.png');
    background-repeat: no-repeat;
    background-position: 0;
}
.more-info{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 25px;
    background: linear-gradient(to right, #be0711 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    margin-bottom: 30px;
}

.more-info:hover{
    text-decoration: none;
    color: white;
    background-position: left bottom;
}

.icon1_data{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    
}
.box-style{
    border: 1px solid black;
    background: linear-gradient(90deg, rgba(57, 57, 57, 1) 0%, rgba(83, 83, 83, 1) 100%);
    color: white;
}
.box-style ul{
  list-style: none;
}
.arrows {
    width: 60px;
    height: 72px;
}
.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.arrows path {
    stroke: #BA0711;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}
/*service page*/
.service_bg{
    background-image: url('service_bg.png');
    background-repeat: no-repeat;
}
.btn-watch-video:hover{
    text-decoration: none;
    color: black;
}
.service_two_bg{
    background-image: url('bg_graphic_service.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg_half_black{
    background-image: url('bg_half_black.png');
    background-repeat: no-repeat;
}
.issues-gif{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.service_bg2{
    background-image: url('service_bg2.png');
}
.case-study-head{
    color: #ba0711;
}
.professional-banner{
    background-image: url('header-professional.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.professional-content img{
    height: 25vh;
}
.professional-content {
    text-align: center;
}
.outcome-based{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.arrow-size{
  width: auto;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-rpi{
    width : auto;
    height: 50px;
}
.bg-pi{
    background-image: url('bg-pi.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.traditional-bg{
    background-color: #f9f9f9;
}
.aerospace-banner{
    background-image: url('bg_aerospace.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}
.automotive-banner{
    background-image: url('bg_automotive.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}
.image_automative{
    height: 120px;
}
.heading-border{
    border: 1px solid #BA0711;
    border-radius: 10px;
    padding: 10px 0;
    font-weight: bold;
}
.cpg-banner{
    background-image: url('consumer-product-goods-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.bg-products{
    background-color:#332d2f;
}
.box-row{
    border-bottom: 2px dashed #b68383;
}
.box-column{
    border-right: 2px dashed #b68383;
}
.row-head{
    font-size: 0.8em;
}
.row-para{
    font-size: 0.55em;
}
.box-content{
    font-size: 0.8em;
    font-weight: bold;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 5px;
}
.box-space{
    padding: 5px 10px;
}
.e-commerce-banner{
    background-image: url("bg_header_commerce.png");
    background-repeat: no-repeat;
}
.life-science-banner{
    background-image: url('bg_life_sciences.png');
    background-repeat: no-repeat;
}
.bg_howhelp{
    background-image: url('bg_howhelp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gallop-contact-btn-two{
    background-color: #e1e1e126;
    padding: 3px 20px;
    border: none;
    border-radius: 20px;
   max-width: 64%;
   box-shadow: inset 0 0 0 0 black;
}
.manufacture-banner{
    background-image: url('bg_manufacturing.png');
    background-repeat: no-repeat;
}
.red-arrow-svg li{
    list-style-image: url('red-arrow.svg');
    padding-top: 5px;
    padding-left: 0;
}
.bg-pi-border{
    border-bottom: 2px solid white;
}
